<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="2002867f274633f5" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Алькор: прокат инструмента и продажа стройматериалов в Гомеле {% endblock %}</title>
    <meta name="description" content="Прокат инструмента и продажа стройматериалов в Гомеле">
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('fonts/fontawesome/css/font-awesome.min.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
    <header class="gradient">
        <div class="row wrapper">

            <div class="col-lg-3 col-md-2 col-sm-5 col-xs-5 logo-wrapper">
                <div class="logo">
                    <a href="{{ path('mainpage') }}" title="Алькор">
                        <img src="{{ asset('images/logo.svg') }}" alt="Алькор">
                    </a>
                </div>
            </div>

            <div class="about col-md-6 hidden-sm hidden-xs">
                <h1><i class="fa fa-handshake-o" aria-hidden="true"></i> Прокат инструмента в Гомеле</h1>
                <h1><i class="fa fa-inbox" aria-hidden="true"></i> Продажа стройматериалов</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-7 contacts-wrapper">
                <div class="contacts">
                    Наши контакты:<br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="address">Гомель, ул. Гагарина, д.20</span><br>
                    <a href="tel:+375296474719" title="Позвонить нам" class="phone"><i class="fa fa-mobile" aria-hidden="true"></i> +375296474719</a>
                </div>
            </div>

        </div>
    </header>

    <div class="main-content wrapper">

        {% block content %}{% endblock %}

        <div class="js-loader-wrapper hidden">
            <div class="preloader-wrapper">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
        </div>

    </div>

    <footer class="gradient1">
        <div class="wrapper">
            <div class="row footer">
                <div class="col-md-4 col-sm-5 col-xs-5 company-wrapper">
                    <div class="company">
                        <h2>ОДО "Алькор" </h2> &copy; 2018

                    </div>
                </div>
                <h1 class="col-md-4 hidden-sm hidden-xs text-center activity">
                    Прокат инструмента и продажа строительных материалов в Гомеле
                </h1>
                <div class="col-md-4 col-sm-7 col-xs-7 footer-contacts-wrapper">
                    <div class="right">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="address">Гомель, ул. Гагарина, д.20</span><br>
                        <a href="tel:+375296474719" title="Позвонить нам" class="phone"><i class="fa fa-mobile" aria-hidden="true"></i> +375296474719</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/functions.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
