{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="col-sm-2">
        <div class="menu">
            <p class="text-center">Покупка</p>
            <ul>
                <li><a href="{{ path('products_by_category', {typeName: type}) }}"
                       class="js-category"
                       data-url="{{ path('products_by_category', {typeName: type}) }}">ВСЕ</a></li>
                {% for category in categories %}
                    <li><a href="{{ path('products_by_category', {typeName: type, category: category.slug}) }}"
                           data-url="{{ path('products_by_category', {typeName: type, category: category.slug}) }}"
                           class="js-category">
                            {{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-sm-10 products-wrapper">
        {% block production %}
            {% if page is defined and page == 'product' %}
                {% include '@App/product.html.twig' %}
            {% else %}
                {% include '@App/products.html.twig' %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}