{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="text-center nav-wrapper">
        <div class="nav-type">
            <a class="first {% if type == 'all' %}active-type{% endif %}" title="–í–µ—Å—å –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç" href="{{ path('mainpage') }}"–>–í–µ—Å—å –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç</a>
            <a {% if type == constant('AppBundle\\Services\\AppManager::PROKAT') %}class="active-type"{% endif %} title="–ü—Ä–æ–∫–∞—Ç —ç–ª–µ–∫—Ç—Ä–æ–∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞ –≤ ––ì–æ–º–µ–ª–µ" href="{{ path('homepage', { typeName: constant('AppBundle\\Services\\AppManager::PROKAT') }) }}">–ü—Ä–æ–∫–∞—Ç –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–∞</a>
            <a class="last {% if type == constant('AppBundle\\Services\\AppManager::POKYPKA') %}active-type{% endif %}" title="–ö—É–ø–∏—Ç—å —Å—Ç—Ä–æ–π–º–∞—Ç–µ—Ä–∏–∞–ª—ã –≤ –≥–æ–º––ì–æ–º–µ–ª–µ" href="{{ path('homepage', { typeName: constant('AppBundle\\Services\\AppManager::POKYPKA') }) }}">–°—Ç—Ä–æ–π–º–∞—Ç–µ—Ä–∏–∞–ª—ã</a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="menu-wrapper">
        <div class="menu">
            <a href="#" class="js-toggle-category toggle-category gradient1" title="–ü–æ–∫–∞–∑–∞—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏–∏">
                <i class="fa fa-bars" aria-hidden="true"></i>
                –ö–∞—Ç–µ–≥–æ—Ä–∏–∏
            </a>
            <nav class="category-nav">
                <p class="category-header gradient1">–ö–∞—Ç–µ–≥–æ—Ä–∏–∏</p>
                {% for category in categories %}
                    {% set params = type == 'all' ? { categorySlug: category.slug } : {typeName: category.type, categorySlug: category.slug} %}
                    {% set route = type == 'all' ? 'products_by_category' : 'products_by_category_and_type' %}
                    <a href="{{ path(route, params) }}"
                       title="{{ category.name }}"
                       data-url="{{ path(route, params) }}"
                       class="category js-category {% if currentCategory is defined and currentCategory == category.slug %}active-category{% endif %}">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{ category.name }}
                    </a>

                {% endfor %}
            </nav>
        </div>
    </div>

    <div class="products-wrapper">
        {% block production %}
            {% if page is defined and page == 'product' %}
                {% include '@App/product.html.twig' %}
            {% else %}
                {% include '@App/products.html.twig' %}
            {% endif %}
        {% endblock %}
    </div>
    <div class="clear"></div>

{% endblock %}
