{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="text-center">
        <div class="nav-type">
            <a class="first {% if type == 'all' %}active-type{% endif %}" href="{{ path('mainpage') }}">ВСЕ</a>
            <a {% if type == constant('AppBundle\\Services\\AppManager::ARENDA') %}class="active-type"{% endif %} href="{{ path('homepage', { typeName: constant('AppBundle\\Services\\AppManager::ARENDA') }) }}">Прокат</a>
            <a class="last {% if type == constant('AppBundle\\Services\\AppManager::POKYPKA') %}active-type{% endif %}" href="{{ path('homepage', { typeName: constant('AppBundle\\Services\\AppManager::POKYPKA') }) }}">Покупка</a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="menu-wrapper">
        <div class="menu">
            <a href="#" class="js-toggle-category toggle-category">Категории</a>
            <nav class="category-nav">
                <p class="category-header">Категории</p>
                {% for category in categories %}
                    <a href="{{ path('products_by_category', {typeName: category.type, categorySlug: category.slug}) }}"
                       data-url="{{ path('products_by_category', {typeName: category.type, categorySlug: category.slug}) }}"
                       class="category js-category {% if currentCategory is defined and currentCategory == category.slug %}active-category{% endif %}">
                        {{ category.name }}
                    </a>

                {% endfor %}
            </nav>
        </div>
    </div>

    <div class="products-wrapper">
        {% block production %}
            {% if page is defined and page == 'product' %}
                {% include '@App/product.html.twig' %}
            {% else %}
                {% include '@App/products.html.twig' %}
            {% endif %}
        {% endblock %}
    </div>
    <div class="clear"></div>

{% endblock %}