<div class="row product">
    <div class="col-md-6 text-center">
        <img src="/images/{{ product.imgBig }}" alt="{{ product.name }}">
    </div>

    <div class="col-md-6 product-info">
        <h2 class="product-name">{{ product.name }}</h2>
        <h4 class="description">{{ product.description|nl2br }}</h4>
        <p style="color: orange;">Заказать вы можете по номеру:</p>
        <p style="color: red;">+375299365114</p>
        <span class="price">{{ product.price }} BYN</span>
    </div>
</div>

