{% for product in products %}
    {% set type_name = product.type ? "pokypka" : "arenda" %}
    <a href="{{ path('product', { typeName: type_name, categorySlug: product.category.slug, productSlug: product.slug }) }}"
       data-url="{{ path('product', { typeName: type_name, categorySlug: product.category.slug, productSlug: product.slug }) }}"
       class="product-wrapper js-product">
        <h3 class="name">{{ product.name }}</h3>
        <div class="product-img">
            <img src="/images/{{ product.imgMin }}" alt="perforator">
        </div>
        <p class="description">{{ product.shortDescription }}</p>
        <span class="price">{{ product.price }}$</span>
    </a>
{% else %}
    <p class="text-info" style="margin: 40px 0 0 30%;">Похоже, что здесь ничего нет :(</p>
{% endfor %}

{% if countOfPages > 1  and currentPage <= countOfPages %}
    <div class="clear"></div>
    <div class="pag">
        <ul class="pagination">
        {% for i in 1..countOfPages %}
            {% set params = (app.request.attributes.get('_route_params') | merge({'page': i})) %}
            <li class="{% if i == currentPage %}active{% endif %}">
                <a class="js-page"
                   href="{{ path(app.request.attributes.get('_route'), params) }}"
                   data-url="{{ path(app.request.attributes.get('_route'), params) }}"
                >{{ i }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}